{% extends 'layout.html' %}
{% block body %}

<div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card" style="width: 100%">
            <div class="card-head">
                <div class="container mt-3">
                    <h3>Registrar vendedor</h3>
                </div>
            </div>
            <div class="card-body">
                <form action="/addVendedor" method="POST">
                    <div class="form-group">
                        <input type="text" name="dpi" placeholder="Dpi" class="form-control">
                        <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                        <input type="text" name="apellido" placeholder="Apellido" class="form-control">
                        <input type="text" name="direccion" placeholder="Direccion" class="form-control">
                        <input type="text" name="telefono" placeholder="Telefono" class="form-control">
                    </div>
                    <div class="d-grid gap-2 mt-2">
                        <button type="submit" class="btn btn-primary btn-block">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-12 mt-3">
        <h3>Vendedores registrados</h3>
    </div>
    <div class="col-12 mt-2">
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                    <td>Dpi</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Direccion</td>
                    <td>Telefono</td>
                </tr>
            </thead>
            <tbody>
                {% for vendedor in vendedores %}
                <tr>
                    <td>{{ vendedor.1 }}</td>
                    <td>{{ vendedor.2 }}</td>
                    <td>{{ vendedor.3 }}</td>
                    <td>{{ vendedor.4 }}</td>
                    <td>{{ vendedor.5 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endblock %}
    </div>
</div>